@charset "UTF-8";

/* main */
main {
    margin: 0 8vw;
}
main span {
    font-size: 2vw;
}
main h1 {
    text-transform: uppercase;
    font-size: 3.4vw;
}
main .artist {
    padding-top: 2vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
main .box {
    width: 18vw;
    height: 22vw;
    margin-bottom: 2vw;
    margin-top: 8vw;
}
main .box:hover {
    background-size: 120%;
    transition: 0.3s;
}
main .artist h2 {
    font-size: 1.6vw;
    text-align: left;
}
main .artist p {
    text-align: left;
}

main .box1 {
    background: url("images/artist01.jpg") no-repeat center 0 / cover;
    background-size: 100%;
}
main .box2 {
    background: url("images/artist02.jpg") no-repeat center 0 / cover;
    background-size: 100%;
}
main .box3 {
    background: url("images/artist03.jpg") no-repeat center 0 / cover;
    background-size: 100%;
}
main .box4 {
    background: url("images/artist04.jpg") no-repeat center 0 / cover;
    background-size: 100%;
}
main .box5 {
    background: url("images/artist05.jpg") no-repeat center 0 / cover;
    background-size: 100%;
}
main .box6 {
    background: url("images/artist06.jpg") no-repeat center 0 / cover;
    background-size: 100%;
}
main .box7 {
    background: url("images/artist07.jpg") no-repeat center 0 / cover;
    background-size: 100%;
}
main .box8 {
    background: url("images/artist08.jpg") no-repeat center 0 / cover;
    background-size: 100%;
}
